html {
  margin: 0 auto;
  padding: 0;
  background: #0e374f;
  height: 100vh;
  width: 90vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2vw;
  width: 90vw;
  height: 90vw;
  background: #227bb0;
  -webkit-box-shadow: -1px 0px 15px 2px rgba(0,0,0,0.6);
  box-shadow: -1px 0px 15px 2px rgba(0,0,0,0.6);
}
.iconTitle {
  margin-top: 7vw;
  font-size: 6vw;
  color: red;
  align-content: center;
}
.entranceState{
  margin-top: 12vw;
  color: #FFFFFF;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 40vw;
  height: 5vw;
}
#loginState, #registerState{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3vw;
  cursor: pointer;
  width: 16vw;
  height: 5vw;
}
#loginState{
 background-color: #0e374f85;

}

#loginPage {
  margin-top: 10vw;
  display: flex;
  justify-content: center;
  align-items: start;
  width: 70vw;
  height: 70vw;
}
.login{
  position: relative;
  height: 70vw;
  width: 70vw;
  display: flex;
  justify-content: space-between;
  align-content: center;
  margin-bottom: 2vw;

}
.username, .phone, .password {
  margin-bottom: 3vw;
}
.username input[type=text]{
  font-size: 3vw;
  height: 4vw;
  width: 39vw;
  border: none;
  text-align: center;

}
.username input:focus{
  height: 4vw;
  width: 39vw;
  outline: none;
  border: none;
}
.password{
}
.password input[type=password], .phone input[type=tel]{
  height: 4vw;
  text-align: center;
  width: 39vw;
  font-size: 3vw;
  border:none;
  //background-image:none;
  //background-color:transparent;
  //-webkit-box-shadow: none;
  //-moz-box-shadow: none;
  //box-shadow: none;
}
/*.phone input[type=tel]{*/
/*  height: 4vw;*/
/*  text-align: center;*/
/*  width: 39vw;*/
/*  font-size: 3vw;*/
/*  border:none;*/
/*}*/
.password input:focus, .phone input:focus{
  height: 4vw;
  width: 39vw;
  outline: none;
  border: none
}
.submit, .registerBtn{
  display: flex;
  justify-content: center;
  cursor: pointer;
}
.submit button, .registerBtn button{
  margin-top: 5vw;
  background: #0e374f;
  width: 40vw;
  height: 6.5vw;
  color: #FFFFFF;
  font-size: 3vw;
  border: none;
  cursor: pointer;
}
#registerPage {
  margin-top: 5vw;
  display: none;
  justify-content: center;
  align-items: start;
  width: 70vw;
  height: 70vw;
  margin-bottom: 2vw;
}
.register{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}
